-content_for(:title) { t("title") }

%h1.home= t("title")

%p= t("home.subtitle")

%p
  %a.nice.small.radius.white.button{:href => "#"} Button Text

%p
  %strong.show-on-desktops Desktop version.
  %strong.show-on-tablets Tablet device version.
  %strong.show-on-phones Smartphone version.
  

- unless Rails.env == "production"
  %app_env
    = "Env:  #{Rails.env}"
    %br
    = "Ruby: #{RUBY_VERSION}"
    %br
    = "Rails: #{Rails::VERSION::STRING}"
    